@import "tools/bourbon/bourbon";
@import "tools/normalize";
//Own CSS!
//Layout
@import "base/generics";
@import "layout/b_layout";
@import "layout/index_title";
@import "layout/imgdisp";
//Style
@import "style/b_style";
@import "style/imgdisp";

body {
  margin: 0;
  background-color: #424242;
  color: white;
}

.b-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  //float: right;
  margin-right: -10vw;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-size: 4em;
}
